:root {
    --background-color: rgb(90, 90, 90);
    --secondary-color: rgb(45, 45, 45);
    --light-color: whitesmoke;
    --hover: rgba(255, 255, 255, 0.2);
    --active: rgba(255, 255, 255, 0.3);
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



/* Header styling */

header {
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 1rem;

    background-color: var(--secondary-color);
    color: var(--light-color);
}

header>h1 {
    font-size: 2em;
    font-weight: bolder;
}



/* Menu styling */

.mainMenu {
    /* border: 1px solid red; */
    /* box-sizing: border-box; */

    background-color: var(--secondary-color);
    color: var(--light-color);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 10vw;
}

.menuItem {
    padding: 0.4rem 1rem;
    margin: 0.6rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

.menuItem:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.menuItem:active {
    background-color: var(--active);
}



/* Content container styling */

.contentContainer {
    /* border: 1px solid red; */
    /* box-sizing: border-box; */
    background-color: var(--background-color);

    height: 100%;
    padding: 1rem;

    overflow: auto;
}



/* Footer styling */

footer {
    /* border: 1px solid red; */
    /* box-sizing: border-box; */
    padding: 1rem;
    margin-top: auto;

    background-color: var(--secondary-color);
    color: var(--light-color);

    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

/* centers github icon vertically */
footer>a {
    display: flex;
}

.github {
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.github:hover {
    transform: rotate(-360deg) scale(1.2);
}