:root {
    --background-color: rgb(90, 90, 90);
    --secondary-color: rgb(45, 45, 45);
    --light-color: whitesmoke;
    --hover: rgba(255, 255, 255, 0.2);
    --active: rgba(255, 255, 255, 0.3);
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



/* Header styling */

header {
    box-sizing: border-box;
    padding: 1rem;

    background-color: var(--secondary-color);
    color: var(--light-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

header>h1 {
    font-size: 2em;
    font-weight: bolder;
}



/* Menu styling */

.mainMenu {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-bottom: 3px solid var(--light-color);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 15vw;
}

.menuItem {
    padding: 0.4rem 1rem;
    margin: 0.6rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

.menuItem:hover,
.dropdownMenu:hover,
.dropdownOption:hover, 
.mobileMenuOption:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.menuItem:active,
.dropdownMenu:active,
.dropdownOption:active,
.mobileMenuOption:active {
    background-color: var(--active);
}

.selected {
    background-color: var(--hover);
}



/* Content styling */

.hidden {
    display: none;
}

.contentContainer {
    /* border: 1px solid red; */
    background-color: var(--background-color);

    height: 100%;
    padding: 1rem;
    box-sizing: border-box;

    overflow: auto;
    /* position: relative; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: calc(center - 30%)
}

.content {
    /* position: absolute; */
    /* height: auto; */
    /* width: fit-content; */
    /* top: 5%; */
}



/* Dropdown menu styling */

.dropdownMenu {
    color: var(--light-color);
    width: 20vw;
    min-width: fit-content;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: 2px solid var(--light-color);
    text-align: center;
    font-size: 1.1rem;
    position: relative;
}

.dropdownContainer {
    position: absolute;
    top: calc(100% + 2px);
    width: 100%;
    left: 0;

    border: 1px solid var(--light-color);
    box-sizing: border-box;
}

.dropdownOption {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}



/* Mobile menu styling */

.mobileMenuContent {
    color: var(--light-color);
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
}

.mobileMenuContainer {
    border: 2px solid var(--light-color);
    box-sizing: border-box;
    display: flex;
    cursor: grab;


    overflow-x: hidden;
    white-space: nowrap;
}

.mobileMenuOption {
    display: block;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    min-width: 15vw;
}



/* Image scroller styling */





/* Footer styling */

footer {
    padding: 1rem;
    margin-top: auto;
    border-top: 3px solid var(--light-color);
    box-sizing: border-box;

    background-color: var(--secondary-color);
    color: var(--light-color);

    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

/* centers github icon vertically */
footer>a {
    display: flex;
}

.github {
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.github:hover {
    transform: rotate(-360deg) scale(1.2);
}
