:root {
    --background-color: rgb(90, 90, 90);
    --secondary-color: rgb(45, 45, 45);
    --light-color: whitesmoke;
    --hover: rgba(255, 255, 255, 0.2);
    --active: rgba(255, 255, 255, 0.3);
}

* {box-sizing: border-box}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}





/* Header styling */

header {
    padding: 1rem;

    background-color: var(--secondary-color);
    color: var(--light-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

header>h1 {
    font-size: 2em;
    font-weight: bolder;
}





/* Menu styling */

.mainMenu {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-bottom: 3px solid var(--light-color);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 15vw;
}

.menuItem {
    padding: 0.4rem 1rem;
    margin: 0.6rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

.menuItem:hover,
.dropdownMenu:hover,
.dropdownOption:hover, 
.mobileMenuOption:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.menuItem:active,
.dropdownMenu:active,
.dropdownOption:active,
.mobileMenuOption:active {
    background-color: var(--active);
}

.selected {
    background-color: var(--hover);
}





/* Content styling */

.hidden {
    display: none;
}

.contentContainer {
    background-color: var(--background-color);

    height: 100%;
    padding: 1rem;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: calc(center - 30%)
}





/* Dropdown menu styling */

.dropdownMenu {
    color: var(--light-color);
    width: 20vw;
    min-width: fit-content;
    padding: 0.5rem 1rem;
    border: 2px solid var(--light-color);
    text-align: center;
    font-size: 1.1rem;
    position: relative;
}

.dropdownContainer {
    position: absolute;
    top: calc(100% + 2px);
    width: 100%;
    left: 0;

    border: 1px solid var(--light-color);
}

.dropdownOption {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
}





/* Mobile menu styling */

.mobileMenuContent {
    color: var(--light-color);
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
}

.mobileMenuContent>h3 {
    font-size: 1.15em;
    margin-bottom: 1em;
    font-weight: 500;
}

.mobileMenuContent>table {
    display: flex;
}

.mobileMenuContainer {
    border: 2px solid var(--light-color);
    cursor: grab;
    display: flex;

    /* enable horizontal scroll */
    overflow-x: scroll;
}

/* hide scrollbar, retain function */
.mobileMenuContainer::-webkit-scrollbar {
    display: none;
}

.mobileMenuOption {
    padding: 0.5rem 1rem;
    min-width: max-content;
    text-align: center;
}





/* Image scroller styling */

.scrollerImage {
    width: 100%;
}

/* slideshow container */
.imageScroller {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* hide images default */
.imageContainer {
    display: none;
}

/* next & previous buttons */
.previousImageBtn, .nextImageBtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--light-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /* user-select: none; */
}

/* position next button on the right */
.nextImageBtn {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* add hover effect */
.previousImageBtn:hover, .nextImageBtn:hover {
    background-color: var(--hover)
}

/* caption text */
.imageCaption {
    color: var(--light-color);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* image number */
.imageNumber {
    color: var(--light-color);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* scroller dots */
.scrollerDotContainer {
    text-align: center;
    margin-top: 4px;
}

.scrollerDot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.scrollerDot:hover, .selectedImage {
    background-color: #717171;
}

/* fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}





/* Footer styling */

footer {
    padding: 1rem;
    margin-top: auto;
    border-top: 3px solid var(--light-color);

    background-color: var(--secondary-color);
    color: var(--light-color);

    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

/* centers github icon vertically */
footer>a {
    display: flex;
}

.github {
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.github:hover {
    transform: rotate(-360deg) scale(1.2);
}
